*{
    margin: 0;
    padding: 0;     
}

header{
    border-bottom: 1px solid rgb(177, 172, 172);
    display : flex;
     flex-direction : row;
    justify-content : space-between;
     align-items : center;
     height:55px
}
a{
    text-decoration: none;
}
#a1{
    font-size: 26px;
    color: black;
    margin-left:45px

}
h1{
    font-size: 40px;
    margin-bottom:24px;
}
p{
    font-size:16px;
    margin-bottom:24px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 45px;
}
.linkstylenav{
    color: rgb(128, 125, 125);
    font-size: 16px;

}
img{
    width: 50%;
    border-radius: 7px;
}

section{
    display : flex;
flex-direction : row;
justify-content : space-around;
align-items : center;
margin-top:20px;
margin-left:45px;
margin-right:45px;

}
#book{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
border: 1px solid rgb(5, 5, 5);
background-color: rgb(39, 37, 37);
border-radius: 5px;
color: white;
margin-right: 20px;
}
#contact{
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: black;
    
}
.section1div{
    margin-right: 30px
}

